<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Account Created </title>
</head>
<body>
<h1>Compte  Created message</h1>
<p>Dear <span th:text="${Nom_Prenom}"></span></p>
<p>Your  Account As Being Created Here in Your login Informations </p>
<p style="font-size: 1.5em; font-weight: bold;">Email  : <span th:text="${Email}"></span></p>
<p style="font-size: 1.5em; font-weight: bold;" >Password : <span th:text="${Password}"></span></p>
<!-- Utilisation d'un formulaire avec une méthode POST -->
</body>
</html>
